@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300..900&family=Roboto+Mono:wght@100..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
}

.container {
  padding: 0 170px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
}
.header__nav-close, .header__nav-toggler {
  padding: 7px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: red;
  display: none;
}
.header__nav-logo {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}
.header__nav-menu_contact, .header__nav-menu_pages {
  display: flex;
  list-style: none;
  gap: 30px;
}
.header__nav-menu_contact a, .header__nav-menu_pages a {
  text-decoration: none;
  transition: 0.3s;
}
.header__nav-menu_contact a:hover, .header__nav-menu_pages a:hover {
  color: #005FA3;
}
.header__hero {
  background: url(../images/bg.png) no-repeat center/cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.header__hero h1 {
  color: #fff;
  max-width: 500px;
}
.header__hero button {
  padding: 15px 30px;
  border: none;
  background: #005FA3;
  color: #fff;
}

.service {
  padding: 100px 0;
  background: #ebebeb;
}
.service__title {
  margin-bottom: 50px;
}
.service__title h2 {
  font-size: 2rem;
}
.service__title p {
  color: #bdbdbd;
}
.service__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.service__cards-item {
  height: 360px;
  background: #000 url(../images/card-bg.png) no-repeat center/cover;
  padding: 50px;
  color: #fff;
  position: relative;
  transition: 0.3s;
}
.service__cards-item:hover {
  transform: scale(1.02);
}
.service__cards-item::after {
  content: "";
  position: absolute;
  background: #005FA3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

@media screen and (max-width: 1220px) {
  .container {
    padding: 0 100px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .header__hero {
    padding-left: 50px;
  }
  .header__hero h1 {
    font-size: 1.5rem;
  }
  .service__cards {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .service__cards-item {
    height: 300px;
    padding: 20px;
  }
}
.bilmadim {
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.bilamdim-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-shrink: 0;
  gap: 20px;
}

.bl {
  display: flex;
  justify-content: center;
}

.text h3 {
  font-size: 48px;
  line-height: 63.39px;
  color: #333333;
}
.text h2 {
  font-size: 48px;
  line-height: 63.39px;
  color: #005FA3;
}
.text p {
  max-width: 500px;
}

.box {
  padding: 15px;
  background: #EBEBEB;
  font-family: sans-serif;
}
.box p {
  margin-bottom: 20px;
}
.box:hover {
  background: blue;
  color: #fff;
}
.box:hover a[href="#"] {
  color: #fff;
}

.number {
  font-size: 55px;
  line-height: 66px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .bilmadim {
    flex-direction: column;
    padding: 50px 20px;
    gap: 20px;
  }
  .bilamdim-wrap {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .text h3, .text h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .text p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 480px) {
  .bilmadim {
    padding: 20px;
  }
  .text h3, .text h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .text p {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
  .box {
    padding: 10px;
    font-size: 12px;
  }
  .box:hover {
    background: #005FA3;
  }
  .number {
    font-size: 36px;
    line-height: 44px;
  }
}
.microsoft {
  height: 630px;
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 70px 140px;
}
.microsoft_texts {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 100px 0 80px;
  gap: 40px;
}
.microsoft_texts span {
  width: 100%;
  font-family: "Lato";
  font-size: 24px;
  line-height: 33px;
  color: #bdbdbd;
}
.microsoft_texts h1 {
  width: 100%;
  font-family: "Merriweather";
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}
.microsoft_logos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1250px) {
  .microsoft {
    padding: 0 30px;
  }
  .microsoft_logos {
    justify-content: center;
    gap: 25px;
  }
}
@media (max-width: 870px) {
  .microsoft {
    padding: 0 20px;
  }
  .microsoft_texts span {
    font-size: 20px;
  }
  .microsoft_texts h1 {
    font-size: 40px;
  }
  .microsoft_logos {
    gap: 20px;
  }
}
@media (max-width: 650px) {
  .microsoft {
    padding: 0 15px;
  }
  .microsoft_texts {
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .microsoft_logos {
    gap: 15px;
  }
}
@media (max-width: 560px) {
  .microsoft {
    height: 1100px;
  }
}/*# sourceMappingURL=main.css.map */